//Colors
MainColor = #F44336
LightColor = #FFCDD2
DarkColor = #D32F2F
AcentColor = #FFEB3B
LightText = #FFF
DarkText = rgba(0,0,0,0.8)
//Fonts
Poppins = 'Poppins', sans-serif
Roboto = 'Roboto', sans-serif

main 
		background-image url(../img/dragon-dark.png)
		background-repeat no-repeat
		background-size cover
		background-position center


.estilos
	padding 1em
	text-align center
	.estilos-card
		background-color #222
		border-radius 100%
		max-height 300px
		max-width 300px
		margin 0.5em auto .5em auto
		position relative
		text-align center
		overflow hidden
		transition all .6s ease-out
		&:hover
			box-shadow rgba(0,0,0,0.5) 3px 3px 15px
			transition all .3s ease-in
		.estilos-card-link
			display block
			padding 50%
			border-radius 100%
		.estilos-card-name
			bottom 25%
			color LightText
			font-size 140%
			font-weight bold
			left 0
			margin-left auto
			margin-right auto
			position absolute
			right 0

#ving-tsun-card
	background-image url(../img/styles-card/ving-tsun-card_mobile.png)
	background-repeat no-repeat
	background-size 98%
	background-position center
	
#hung-gar-card
	background-image url(../img/styles-card/hung-gar-card_mobile.png)
	background-repeat no-repeat
	background-size 98%
	background-position center
	
#bak-siu-lam-card
	background-image url(../img/styles-card/bak-siu-lam-card_mobile.png)
	background-repeat no-repeat
	background-size 98%
	background-position center
	
#tai-chi-card
	background-image url(../img/styles-card/tai-chi-card_mobile.png)
	background-repeat no-repeat
	background-size 98%
	background-position center
	
#pa-kua-card
	background-image url(../img/styles-card/pa-kua-card_mobile.png)
	background-repeat no-repeat
	background-size 98%
	background-position center
			
@media (min-width: 845px)
	main 
		background-image url(../img/logo-wu-hsing-chuan-background.png)
		background-repeat no-repeat
		background-size cover
		background-position center
	.flex-box
		padding 0 40px
		display -webkit-box
		display -moz-box
		display -ms-flexbox
		display -webkit-flex
		flex-flow row wrap
		display flex
		justify-content space-between
		
	.estilos-card
		height 300px
		width 300px
		margin .5em 0 !important
		
	#hung-gar-card
		background-image url(../img/styles-card/hung-gar-card.png)
		
	#bak-siu-lam-card
		background-image url(../img/styles-card/bak-siu-lam-card.png)
		
	#tai-chi-card
		background-image url(../img/styles-card/tai-chi-card.png)
		
	#pa-kua-card
		background-image url(../img/styles-card/pa-kua-card.png)
			
			
			
		

