//Colors
MainColor = #F44336
LightColor = #FFCDD2
DarkColor = #D32F2F
AcentColor = #FFEB3B
LightText = #FFF
DarkText = rgba(0,0,0,0.8)
//Fonts
Poppins = 'Poppins', sans-serif
Roboto = 'Roboto', sans-serif

#sacomani
	background-color #DDD
	p, h2
		color DarkText
	.yellow-button
		margin-bottom 10px
	
@media (min-width: 845px)
	#sacomani
		background-image url(../img/fondo-1-optimized.jpg)
		background-repeat no-repeat
		background-size cover
		background-attachment fixed
		padding-bottom 20px
		p, h2
			color LightText
		// .description
		// 	text-align left

@media (min-width: 1255px)
	#sacomani
		background-image url(../img/sacomani-muneco-de-madera.png), url(../img/fondo-1-optimized.jpg)
		background-repeat no-repeat
		background-size 350px, cover
		background-position left top, center
		background-attachment scroll, fixed