//Colors
MainColor = #F44336
LightColor = #FFCDD2
DarkColor = #D32F2F
AcentColor = #FFEB3B
LightText = #FFF
DarkText = rgba(0,0,0,0.8)

//Fonts
Poppins = 'Poppins', sans-serif
Roboto = 'Roboto', sans-serif

body
	background-image url(../img/dragon-dark.png)
	background-position center
	background-repeat no-repeat
	background-size cover

.maestro_informacion
	background-color #EEE
	border-radius 30px
	margin 20px
	padding 20px
	h2
		color MainColor
	.maestro_informacion_imagen
		border-radius 100%
	.text_delimiter
		background-color #CCC
		border-radius 20px
		padding 5px
		.maestro_informacion_descripcion
			max-width 30em
			text-align left